{
  "extends": "@react-native-community",
  "rules": {
    "jsx-quotes": ["warn", { "singleQuote": true }],
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "semi": true
      }
    ]
  }
}
